.sidebar {
  display: flex;
  flex-direction: column;
  margin-left: 6rem;
}

.sidebar-title {
  font-size: 17px;
  font-weight:bold;
  margin-bottom: 20px;
  color: #2C374C;
}

.sidebar-items {
  margin-top: 20px;
}

.sidebar-label-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 20px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.sidebar-label-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}



.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color:#2C374C;
  border: 1px solid black;
}

.all {
  background: linear-gradient(blue, crimson);
}

.sidebar-label-container:hover input ~ .checkmark {
  background-color: #ebeaf3;
  border-radius: 0%;
}

.sidebar-label-container input:checked ~ .checkmark {
  background-color:#5953d5;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.sidebar-label-container input:checked ~ .checkmark:after {
  display: block;
}

.sidebar-label-container .checkmark:after {
  background: rgb(2, 46, 140);
}

.line {
  margin-top: 3rem;
  border-color: #f7f7f7;
}

.price-title {
  margin-top: 20px;
}


.font-style{
 display: flex;
 font-size: 14px;
 font-weight: bold;
}

.count1{
  margin-left: 103px;
}

.count2{
  margin-left: 87px;
}

.count3{
  margin-left: 106px;
}

.count4{
  margin-left: 72px;
}

.count6{
  margin-left: 67px;
}

.count7{
  margin-left: 43px;
}


