* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', Arial, sans-serif;
 

}

a {
  text-decoration: none;
  color: #2C374C
}

li {
  list-style: none;
}

.btns {
  padding: 10px 20px;
  margin-right: 6px;
  background: transparent;
  border: none;
  border-radius: 5px;
  color:  #2C374C;
  cursor: pointer;
}
